<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454881568391-qri11a41gl8f2dulmvm9ktm3qk3vskt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454881568391-qri11a41gl8f2dulmvm9ktm3qk3vskt6</string>
	<key>API_KEY</key>
	<string>AIzaSyBsqgEyzPrfG3oTDHshNJ5X2-TLOeUFg6I</string>
	<key>GCM_SENDER_ID</key>
	<string>454881568391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sriram-jennifer.Gourmate-iOS</string>
	<key>PROJECT_ID</key>
	<string>gourmate-21f97</string>
	<key>STORAGE_BUCKET</key>
	<string>gourmate-21f97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454881568391:ios:e74539c2aa197d3500ba22</string>
	<key>DATABASE_URL</key>
	<string>https://gourmate-21f97.firebaseio.com</string>
</dict>
</plist>